.unicode-card {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;

  cursor: pointer;
  font-size: 25;
  text-align: center;
  width: auto;
 
  border-radius: 2px; /* 5px rounded corners */
  margin: 4px 4px;
}

.unicode-card:hover {
  
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.7);
  background-color: teal;
  color: white;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
nav
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;


}
#list{
  padding-top: 50px;
  padding-bottom: 80px;
}

#flash, #char
{
  font-weight: 500;
  color: white;
  text-shadow: black;
  font-size: 15;
}
